:root {
  --main-color: #FF5700;
  --font-color: #FFF;
  --bg-color: #222;
  --bg-color-opacity-5: rgba(0, 0, 0, .5);
  --bg-color-opacity-75: rgba(0, 0, 0, .75);
  --font-size: 16px;
  --font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.6;
  color: var(--font-color);
  background-color: var(--bg-color);
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: var(--main-color);
  transition: all .3s ease-out;
}

a:hover {
  opacity: .75;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  margin-left: 1.5rem;
  list-style-position: outside;
}

::selection {
  background-color: var(--main-color);
  color: var(--font-color);
}

.Home {
  background-image: url('../img/edcamp-bogota-2017.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.Home-container {
  background-color: var(--bg-color-opacity-5);
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-title {
  font-size: 15vw;
}

.Home-title span {
  color: var(--main-color);
}

.Home-description {
  width: 90%;
  font-weight: bold;
}

.About {
  padding: 2rem 1rem;
}

.About-avatar {
  text-align: center;
}

.About-avatar img {
  border-radius: 50%;
  max-width: 150px;
}

.About-bio p {
  margin: 1rem auto;
}

.About-info > * {
  margin-bottom: 1rem;
}

.About-skills span {
  font-weight: bold;
  color: var(--main-color);
}

.Projects {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects > section {
  width: 100%;
}

.Projects a {
  font-weight: normal;
  text-decoration: none;
  color: var(--bg-color);
}

.Projects h2 {
  margin: 1rem auto;
  text-align: center;
}

.Projects h2 .fa {
  display: block;
}

.Projects h3 {
  font-size: 1.2rem;
  text-align: center;
}

.Projects img {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Projects li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 3rem;
  padding: .5rem;
  background-color: var(--font-color);
  border: thin solid var(--main-color);
}

.Projects p {
  margin-top: 1rem;
}

.Contact {
  background-image: url('../img/EDcamp-bogota-alumnos-2017.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.Contact-container {
  background-color: var(--bg-color-opacity-75);
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SocialMedia {
  width: 100%;
}

.SocialMedia ul {
  /* https://ed.team/blog/responsive-design-con-grid-css-y-sin-media-queries */
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  grid-gap: .5rem;
}

.SocialMedia li {
  margin-left: 0;
  text-align: center;
  list-style-type: none;
}

.SocialMedia a {
  font-size: 10vw;
}

.u-section {
  width: 100%;
  min-height: 100vh;
}

.u-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 20em) {}

@media screen and (min-width: 30em) {}

@media screen and (min-width: 37.5em) {
  .Projects ul {
    display: flex;
    flex-wrap: wrap;
  }

  .Projects-squareCard li {
    margin: .5rem;
    width: calc(50% - 1rem);
    flex: auto;
  }

  .Projects-wideCard li {
    margin: .5rem;
    flex: auto;
  }

  .Projects-wideCard figure {
    display: flex;
    align-items: center;
  }

  .Projects-wideCard figcaption {
    margin-left: .5rem;
    width: calc(70% - 1rem);
  }

  .Projects-wideCard img {
    margin-right: .5rem;
    width: calc(30% - 1rem);
  }

  .Projects-wideCard h3 {
    text-align: left;
  }
}

@media screen and (min-width: 48em) {
  .Home-description { width: 75%; }

  .Projects-squareCard li { width: calc(33% - 1rem); }

  .SocialMedia a { font-size: 7.5vw; }
}

@media screen and (min-width: 64em) {
  .Home-description { font-size: 1.5rem; }

  .About-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'about-bio about-avatar'
                                     'about-bio about-info';
    grid-gap: 2rem 5vw;
  }

  .About-avatar {
    padding-top: 1rem;
    grid-area: about-avatar;
  }

  .About-info {
    grid-area: about-info;
    display:  flex;
    font-size: .9rem;
  }

  .About-skills { width: 55%; }

  .About-education { width: 45%; }

  .About-bio { grid-area: about-bio; }

  .Projects-squareCard  li { width: calc(25% - 1rem); }

  .SocialMedia a { font-size: 5vw; }
}

@media screen and (min-width: 75em) {
  .Projects-wideCard  li { width: calc(50% - 1rem); }

  .SocialMedia a { font-size: 4vw; }
}
